@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Patua+One&display=swap');

html, body {
    margin: 0;
    background-color: #333; /* Altere para a cor desejada */
}

body {
    background-image: #131111;
    background-image: url(imgs/backsensi.png);
    text-align: center;
    justify-content: center;
    background-repeat: repeat;
    background-size: cover;
    background-position: top left;
    user-select: none;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.highlighted {
    opacity: 1;
    transition: opacity 0.3s ease;
}

h1 {
    font-family: "NOS", Sans-serif;
}

.logoback {
    border-radius: 10px;
    width: 50%;
    position: relative;
    margin-top: 10%;
}

.teste {
    position: relative;
    max-width: 660px;
    height: 96px;
    font-family: "Patua One", serif;
    font-style: normal;
    display: flex;
    color: #ce939d;
    background-image: url(imgs/BG.jpg);
    background-position: bottom;
    background-size: 100%;
    padding: 20px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    padding-top: 39px;
    padding-bottom: 39px;
}

.testeimg {
    width: 100px;
    border-radius: 10px;
    height: 100px;
}

.alte {
    position: absolute;
    right: 0px;
    justify-content: left;
    text-align: left;
    width: 75%;
}

.t {
    width: 100%;
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

#mei {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}


@media (min-width: 500px) {

    h6 {
        font-family: "Red Hat Display", sans-serif;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.884);
        font-size: 30px;
        margin: 0px;
        font-weight: 600;
    }

    h3 {
        font-family: "Red Hat Display", sans-serif;
        color: rgba(255, 255, 255, 0.884);
        font-size: 20px;
        font-weight: 100;
        max-width: 650px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-family: "Exo 2", sans-serif;
        color: rgba(255, 255, 255, 0.726);

    }

    span {
        font-family: "Exo 2", sans-serif;
        color: rgba(255, 255, 255, 0.884);
        font-size: 30px;
    }

    #background-video {
        width: 100%;
        height: 300px;
        object-fit: cover;
        /* Faz o vídeo cobrir toda a tela */
        margin: 0px;
    }
    .Avs {
        background: linear-gradient(to bottom, #1a1a1a, #333333);
        /* Gradiente de fundo */
        border: 1px solid #303030;
        /* Borda */
        position: relative;
        max-width: 600px;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%);
        padding: 30px;
    }
}

@media (max-width: 500px) {
    
    .Avs {
        background: linear-gradient(to bottom, #1a1a1a, #333333);
        /* Gradiente de fundo */
        border: 1px solid #303030;
        /* Borda */
        position: relative;
        max-width: 80%;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%);
        padding: 30px;
    }

    #descpainels {
        font-size: 15px;
    }

    .avisohead {
        font-size: 20px;
        font-family: "Red Hat Display", sans-serif;
    }

    #resizesensiexp {
        font-size: 20px;
    }

    h6 {
        font-family: "Red Hat Display", sans-serif;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.884);
        font-size: 30px;
        margin: 0px;
        font-weight: 600;
    }

    h3 {
        font-family: "Red Hat Display", sans-serif;
        color: rgba(255, 255, 255, 0.884);
        font-size: 20px;
        font-weight: 100;
        max-width: 650px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    #headtrackingtxtresponsive {
        font-size: 30px;
    }

    .logo {
        width: 80%;
        position: relative;
        margin-top: 50px;
    }

    .teste {
        width: 88%;
        height: 60px;
    }

    .alte {
        width: 65%;
    }

    h1 {
        font-size: 30px;
        color: #ffffffea;
    }

    span {
        font-size: 15px;
        color: #ffffffea;
    }

    p {
        font-size: 12px;
        color: #ffffffea;
    }

    .sensih1 {
        font-size: 40px;
    }

    #background-video {
        max-width: 100%;
        height: 220px;
        object-fit: cover;
        /* Faz o vídeo cobrir toda a tela */
        margin: 0px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    #headtra {
        font-size: 23px;
    }

    .elementor-4705 .elementor-element.elementor-element-c318390 .elementor-heading-title {
        font-size: 19px;
        line-height: 1.5em;
    }

    .elementor-4705 .elementor-element.elementor-element-c318390 {
        width: var(--container-widget-width, 429.297px);
        max-width: 429.297px;
        --container-widget-width: 429.297px;
        --container-widget-flex-grow: 0;
        text-align: center;
    }
}

.teste:hover {
    cursor: pointer;
    max-width: 590px;
    height: 90px;
}

@font-face {
    font-family: 'NOS';
    src: url('fonts/NOS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.f {
    font-family: "NOS", Sans-serif;
    font-style: normal;
    color: #ffffffe1;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* Personaliza a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra */
}

/* Cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #303030;
    /* Cor do track (fundo) */
}

/* Cor e estilo do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #505050;
    /* Cor do polegar */
    border-radius: 5px;
    /* Arredondamento do polegar */
    border: 2px solid #303030;
    /* Borda ao redor do polegar */
}

/* Cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
}


.imgavs {
    filter: brightness(0) saturate(100%) invert(23%) sepia(98%) saturate(503%) hue-rotate(258deg) brightness(90%);
    max-width: 50px;
}

.novidade {
    font-family: "NOS", Sans-serif;
    font-size: 50px;
    background: #7F08AF;
    /* Gradiente de vermelho para roxo */
    -webkit-background-clip: text;
    /* Suporte para WebKit (Chrome, Safari) */
    background-clip: text;
    color: transparent;
    /* Necessário para aplicar o gradiente apenas ao texto */
}

.avisohead {
    font-size: 20px;
}

.btncomphead {
    background-color: #00000000;
    position: relative;
    border: 2px solid #8008af81;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-top: 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.589);
    margin-top: 40px;
    font-family: "NOS", sans-serif;
    cursor: pointer;
    max-width: auto;
    transition: 0.2s;
}

.btncomphead:hover {
    background-color: #8008af81;
}

.textbtn {
    margin: 0px;
}


.navbar {
    position: relative;
    bottom: 0px;
    background-color: #8008af44;
    margin-top: 100px;
    color: #7F08AF;
}

.combolinear {
    display: inline-flex;
    align-items: center;
}

.divider {
    max-width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 1px;
    background-color: #505050;
    margin: 8px 0;
}

.plataform {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #1a1a1a, #333333);
    background-size: cover;
    padding: 40px;
    border-radius: 10px;
    color: #7F08AF;
    font-family: "NOS", Sans-serif;
    z-index: 1;
}