@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    transition: 0.2s ease-out;
}

@font-face {
    font-family: 'NOS';
    src: url('fonts/NOS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(imgs/backsensi.png);
    background-size: cover;
    user-select: none;
    text-align: center;
    justify-content: center;
}

.txtlogin {
    font-family: 'Red Hat Display';
    font-weight: 700;
}

.center {
    position: relative;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: inline-flex;
}

img {
    border-radius: 10px;
    max-width: 100px;
    margin-bottom: 20px;
}

.btnlogar {
    border: 1px solid #7F08AF;
    position: relative;
    height: auto;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
    font-family: "NOS", sans-serif;
    padding-top: 15px;
    cursor: pointer;
}

.btnlogar2 {
    border: 1px solid #7F08AF;
    position: relative;
    height: auto;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    left: 50%;
    font-weight: 800;
    transform: translate(-50%);
    margin-top: 40px;
    font-family: 'Red Hat Display';
    padding-top: 15px;
    cursor: pointer;
    color: white;
}

.btnlogar2:hover {
    background-color: #7F08AF;
    color: white;
}

.btnlogar:hover {
    background-color: #7F08AF;
    color: white;
}


.quit {
    position: absolute;
    right: 10px;
    top: -30px;
    color: white;
    margin: none;
}



@media (max-width: 500px) {
    .escolhas {
        cursor: pointer;
        position: relative;
        width: 90%;
        padding: 20px;
        margin-bottom: 20px;
        top: 10px;
        left: -1000px;
        border-radius: 10px;
        background: linear-gradient(to bottom, #353535, #575757);
        color: #fff;
        font-weight: 700;
    }

    .acess {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to bottom, #1a1a1a, #333333);
        padding: 50px;
        border-radius: 10px;
        color: #7F08AF;
        font-family: "NOS", sans-serif;
        text-align: center;
        justify-content: center;
        padding-left: 100px;
        padding-right: 100px;
        width: 180px;
    }

    #resizeandmobile {
        font-size: 25px;
        position: relative;
        left: 50%;
    }
}

@media (min-width: 500px) {
    .escolhas:hover {
        max-width: 350px;
    }
    
    .escolhas {
        cursor: pointer;
        position: relative;
        max-width: 300px;
        padding: 20px;
        margin-bottom: 20px;
        top: 10px;
        left: -1000px;
        border-radius: 10px;
        background: linear-gradient(to bottom, #353535, #575757);
        color: #fff;
        font-weight: 700;
    }

    input {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.849);
        background-color: #00000000;
        color: white;
        width: 300px;
        font-size: 30px;
        text-align: center;
        font-family: "Red Hat Display", serif;
        font-weight: bold
    }
    
    input:focus {
        outline: none;
        width: 400px;
        text-align: left;
    }

    .acess {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to bottom, #1a1a1a, #333333);
        padding: 50px;
        border-radius: 10px;
        color: #7F08AF;
        font-family: "NOS", sans-serif;
        text-align: center;
        justify-content: center;
        padding-left: 100px;
        padding-right: 100px;
    }
}












































.nos {
    font-family: 'NOS', sans-serif;
}
